.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $container-padding-y $container-padding-x;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: #8899a6;

  nav {
    @extend.menu;
    li {
      &:first-child {
        @include btn-variant($primary-color, $primary-color-transparency);
      }
      &:last-child {
        @include btn-variant(white, $primary-color);
      }
    }
  }
}
